a.out
go.sh
.DS_Store
.built-in.o.cmd
.netfilter.ko.cmd
.netfilter.mod.cmd
.netfilter.o.cmd
.netfilter.mod.o.cmd
.tmp_versions
.arraylist.ko.cmd
.arraylist.mod.o.cmd
.*
modules.order
wireghostDemo.mov
